@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-base: #d83619;
    --cor-de-fundo: #20d7dd;
    --verde: #f5df16;
    --branco: #a32121;
    --botao-ativo: #2a1ad4;
    --botao-inativo: rgba(26, 5, 255, 0.5);
    --texto-fundo: rgba(21, 0, 255, 0.3);
   
   
body {
        background-color: var(--cor-de-fundo);
        color: var(--branco);
        font-family: 'Chakra Petch', sans-serif;
    }
    